@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

//-----------COLORS------//
$ItemBackground: #272c4a;
$MainBG: #1b203d;
$Heading: #64ffda;
$RegularText: rgb(228, 223, 223);

//-------FONT FAMILY-------//

$FamilyOne: 'Roboto Slab', serif;
$FamilyTwo: 'Anton', sans-serif;